.vertical-center{
    min-height: 80%;  
    min-height: 80vh; 
    display: flex;
    align-items: center;
    margin: auto;
}
#friendsTitle{
    font-family: aria;
    margin: 10px auto;
}

body,#content-profil,#content-edit{
    background-color: #f9f9f9;
}
